.logo {  
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    color: $color-secondary;
  }
.main-nav .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.spanlogo {
    color: $accent-color;
}

.logo-white {
    color: $white;
}