.clients-title {
    line-height: 1.172; 
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-svg {
    fill: $cl-svg;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid $cl-svg;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        border-color: $accent-color;
    }

}

.clients-item:not(:last-child) {
    margin-right: 30px;
}


.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg {
    fill: $accent-color;
}